<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Meta required for Bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
	<title>Category: Fashion</title>

	<!-- Fonts -->
	<link rel="stylesheet" href="assets/fonts/Quattrocento/Quattrocento.css">
	<link rel="stylesheet" href="assets/fonts/Quattrocento_Sans/Quattrocento_Sans.css">

	<!-- Icons -->
	<link rel="stylesheet" href="assets/fonts/MaterialDesign/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="assets/fonts/Outicons/flaticon.css">

	<!-- Styles -->
	<link rel="stylesheet" href="libs/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="libs/owl-carousel/owl.theme.css">

	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/responsive.css">

	<!--[if IE 9]>
	<link rel="stylesheet" href="assets/css/ie9.css">
	<![endif]-->

</head>
<body>
	<!-- <div id="page-preloader"><span class="spinner"></span></div> -->
	<div class="page-wraper">
		<div class="full-search-wrap">
			<div class="full-search container">
				<div class="full-search__close pull-right animate"><span class="mdi mdi-close"></span></div>
				<form action="/" class="full-search__form">
			        <input type="text" id="s-full" class="full-search__input" placeholder="Search"> 
			        <input type="submit" hidden>
					<p class="full-search__hint">Type in your search and press enter</p>
				</form>
			</div>
		</div>

		<!-- Header section start -->
		<header class="page-header header-sticky">
			<div class="container">
				<div class="top-bar">
					<div class="top-bar__widgets">
						<div class="row align-items-center">
							<div class="col-md-5 col-lg-4">
								<div class="top-bar__user-menu">
									<ul class="user-menu nav justify-content-center justify-content-md-start">
										<!--<li class="nav-item"><button class="search-btn" id="js-search-btn"><span class="icon-left icon-xs flaticon-magnifying-glass-browser"></span>Search</button></li>-->
										<li class="nav-item"><a href="#"><span class="icon-left icon-xs flaticon-closed-envelope-email"></span>收件箱</a></li>
										<li class="nav-item"><a href="#"><span class="icon-left icon-xs flaticon-messenger-user-avatar"></span>个人信息</a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-2 col-lg-4">
								<div class="top-bar__logo text-lg-center">
									<a href="index.html" class="logo-title logo-title_reg">HuangJN</a>
								</div>
							</div>
						</div>
					</div>
					<div class="mob-menu">
						<div id="mob-toggle" class="animate"><i class="icon icon-lg flaticon-menu-options"></i></div>
					</div>
				</div>
				<div class="main-navigation__wrap">
					<div class="main-navigation">
						<ul class="nav justify-content-between">
							<li class="nav-item"><a class="nav-link" href="index.html">主页</a></li>
							<li class="nav-item active"><a class="nav-link" href="software_package.html">知识分享</a></li>
							<li class="nav-item "><a class="nav-link" href="software_package.html">软件包</a></li>
							<li class="nav-item"><a class="nav-link" href="software_package.html">音乐盒子</a></li>
							<li class="nav-item"><a class="nav-link" href="software_package.html">拍摄图片</a></li>
							<li class="nav-item"><a class="nav-link" href="software_package.html">宣传</a></li>
							<li class="nav-item"><a class="nav-link" href="about.html">关于我</a></li>
							<li class="nav-item"><a class="nav-link" href="contact.html">个人动态</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- Header section end -->	

		<!-- Page content section start -->	
		<main class="page-content">
			<!-- Page title section start -->
			<div class="page-head page-head_light" style="background-image: url('assets/img/cat-contain.jpg');">
				<div class="container">
					<div class="page-head__breadcrumb">
						<a href="index.html"><i class="icon-xs icon-left flaticon-left-arrow-sign"></i>Back to home</a>
					</div>
					<h1 class="page-head__title">Category: Fashion</h1>
				</div>
			</div>
			<!-- Page title section end -->

			<!-- News primary section start -->
			<section class="section news-primary">
				<div class="container">
					<h2 class="screen-reader-text">News</h2>
					<div class="row row-extended">
						<div class="col-lg-8">
							<div class="news-list">
								<div class="new-item">
									<div class="new-item__wrap">
										<div class="row">
											<div class="new-item__image col-md-6">
												<a href="post-single_sidebar.html"><img src="assets/img/new27.jpg" alt=""></a>
											</div>
											<div class="new-item__info col-md-6">
												<div class="h3 new-item__title"><a href="post-single_sidebar.html">centos7的防火墙端口配置</a></div>
												<ul class="new-item__meta d-flex align-items-center">
													<li class="new-item__meta-author">
														<a href="software_package.html"><span class="meta-author__img"><img src="assets/img/contain-18.jpg" alt=""></span>Mabelle Fox</a>
													</li>
													<li class="new-item__meta-cat"><a href="software_package.html">HuangJN</a></li>
													<li class="new-item__meta-time">2 hours ago</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="new-item">
									<div class="new-item__wrap">
										<div class="row">
											<div class="new-item__image col-md-6">
												<a href="post-single_sidebar.html"><img src="assets/img/new28.jpg" alt=""></a>
											</div>
											<div class="new-item__info col-md-6">
												<div class="h3 new-item__title"><a href="post-single_sidebar.html">T2T2T2T2T2T2T2</a></div>
												<ul class="new-item__meta d-flex align-items-center">
													<li class="new-item__meta-author">
														<a href="software_package.html"><span class="meta-author__img"><img src="assets/img/contain-16.jpg" alt=""></span>Raymond Manning</a>
													</li>
													<li class="new-item__meta-cat"><a href="software_package.html">Furniture</a></li>
													<li class="new-item__meta-time">19:52am</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="new-item">
									<div class="new-item__wrap">
										<div class="row">
											<div class="new-item__image col-md-6">
												<a href="post-single_sidebar.html"><img src="assets/img/new29.jpg" alt=""></a>
											</div>
											<div class="new-item__info col-md-6">
												<div class="h3 new-item__title"><a href="post-single_sidebar.html">T3T3T3T3T3T3T3T3T3T3</a></div>
												<ul class="new-item__meta d-flex align-items-center">
													<li class="new-item__meta-author">
														<a href="software_package.html"><span class="meta-author__img"><img src="assets/img/contain-14.jpg" alt=""></span>Gary Howell</a>
													</li>
													<li class="new-item__meta-cat"><a href="software_package.html">Fashion</a></li>
													<li class="new-item__meta-time">02:43am</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="new-item">
									<div class="new-item__wrap">
										<div class="row">
											<div class="new-item__image col-md-6">
												<a href="post-single_sidebar.html"><img src="assets/img/new30.jpg" alt=""></a>
											</div>
											<div class="new-item__info col-md-6">
												<div class="h3 new-item__title"><a href="post-single_sidebar.html">T4T4T4T4T4T4T4</a></div>
												<ul class="new-item__meta d-flex align-items-center">
													<li class="new-item__meta-author">
														<a href="software_package.html"><span class="meta-author__img"><img src="assets/img/contain-12.jpg" alt=""></span>Jacob Cross</a>
													</li>
													<li class="new-item__meta-cat"><a href="software_package.html">Photography</a></li>
													<li class="new-item__meta-time">08:49am</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="new-item last">
									<div class="new-item__wrap">
										<div class="row">
											<div class="new-item__image col-md-6">
												<a href="post-single_sidebar.html"><img src="assets/img/new31.jpg" alt=""></a>
											</div>
											<div class="new-item__info col-md-6">
												<div class="h3 new-item__title"><a href="post-single_sidebar.html">T5T5T5T5T5T5T5T5</a></div>
												<ul class="new-item__meta d-flex align-items-center">
													<li class="new-item__meta-author">
														<a href="software_package.html"><span class="meta-author__img"><img src="assets/img/contain-10.jpg" alt=""></span>Lina Horton</a>
													</li>
													<li class="new-item__meta-cat"><a href="software_package.html">Architecture</a></li>
													<li class="new-item__meta-time">21:58pm</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
								<div class="posts-pagination text-center">
								<ul class="pagination">
									<!-- <li class="previous"><a href="#"><i class="icon flaticon-left-arrow-sign"></i>PREV</a></li> -->
									<li class="active"><a href="#">01</a></li>
									<li><a href="#">02</a></li>
									<li><a href="#">03</a></li>
									<li><a href="#">04</a></li>
									<li class="hidden-xs"><a href="#">05</a></li>
									<li class="hidden-xs"><a href="#">06</a></li>
									<li class="hidden-xs"><a href="#">07</a></li>
									<li class="hidden-sm hidden-xs"><a href="#">08</a></li>
									<li class="hidden-sm hidden-xs"><a href="#">09</a></li>
									<li class="more"><a href="#">...</a></li>
									<li class="next"><a href="#">NEXT <i class="icon flaticon-right-direction"></i></a></li>
								</ul>
							</div>
						</div>
						<aside class="sidebar col-lg-4">
							<div class="widget-sidebar">
								<div class="widget-sidebar__title">最多点击</div>
								<ul class="widget-post-list">
									<li class="widget-post">
										<div class="widget-post__img">
											<a href="post-single_sidebar.html"><img src="assets/img/small-post1.jpg" alt=""></a>
										</div>
										<div class="widget-post__content">
											<div class="cat-title"><a href="software_package.html">Fashion</a></div>
											<div class="h4 widget-post__title"><a href="post-single_sidebar.html">When The Morning Dawns</a></div>
											<div class="widget-post__views">820</div>
										</div>
									</li>
									<li class="widget-post">
										<div class="widget-post__img">
											<a href="post-single_sidebar.html"><img src="assets/img/new10.jpg" alt=""></a>
										</div>
										<div class="widget-post__content">
											<div class="cat-title"><a href="software_package.html">Fashion</a></div>
											<div class="h4 widget-post__title"><a href="post-single_sidebar.html">Comment On The Importance</a></div>
											<div class="widget-post__views">404</div>
										</div>
									</li>
									<li class="widget-post">
										<div class="widget-post__img">
											<a href="post-single_sidebar.html"><img src="assets/img/small-post10.jpg" alt=""></a>
										</div>
										<div class="widget-post__content">
											<div class="cat-title"><a href="software_package.html">Fashion</a></div>
											<div class="h4 widget-post__title"><a href="post-single_sidebar.html">The Bright Side Of Life</a></div>
											<div class="widget-post__views">125</div>
										</div>
									</li>
									<li class="widget-post">
										<div class="widget-post__img">
											<a href="post-single_sidebar.html"><img src="assets/img/new1.jpg" alt=""></a>
										</div>
										<div class="widget-post__content">
											<div class="cat-title"><a href="software_package.html">Fashion</a></div>
											<div class="h4 widget-post__title"><a href="post-single_sidebar.html">Philosophy As A Science</a></div>
											<div class="widget-post__views">987</div>
										</div>
									</li>
									<li class="widget-post">
										<div class="widget-post__img">
											<a href="post-single_sidebar.html"><img src="assets/img/small-post5.jpg" alt=""></a>
										</div>
										<div class="widget-post__content">
											<div class="cat-title"><a href="software_package.html">Fashion</a></div>
											<div class="h4 widget-post__title"><a href="post-single_sidebar.html">Just One State</a></div>
											<div class="widget-post__views">743</div>
										</div>
									</li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</section>

		</main>
		<!-- Page content section end -->	

		<!-- Footer section start -->
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 footer-widget footer__copy">
						<div class="footer__logo footer-widget">
							<a href="index.html" class="logo-title logo-title_reg animate">HuangJN</a>
						</div>
						<div class="textwidget">
							<p>欢迎访问我的网站，希望你能喜欢</p>
						</div>
					</div>

				</div>

				<div class="row page-footer__bottom">
					<div class="col-lg-10">
						<div class="copyright">&copy; 2020, HuangJN <!--<a href="http://www.bootstrapmb.com/">Reserved</a>.--></div>
					</div>
					<div class="col-lg-2">
						<div class="footer-nav nav">
							<li class="nav-item">
								<a href="#" class="nav-item">Privacy</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-item">Terms of use</a>
							</li>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer section end -->	

		<!-- To top section start -->
		<div id="to-top" class="page-to-top animate text-center"><span class="icon icon-left flaticon-up-arrow-sign">Page top</span></div>
	</div>
	<!-- Scripts -->

	<script src="libs/jquery/jquery-2.2.3.min.js"></script>
	<script src="libs/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>
	<script src="libs/isotope/imagesLoaded.min.js"></script>
	<script src="libs/isotope/isotope.pkgd.min.js"></script>
	<script src="assets/js/common.js"></script>

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

</body>
</html>