<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- Meta required for Bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="assets/css/editormd.min.css" />
	<title>Living In The Now Use It To Enrich Your Life</title>

	<!-- Fonts -->
	<link rel="stylesheet" href="assets/fonts/Quattrocento/Quattrocento.css">
	<link rel="stylesheet" href="assets/fonts/Quattrocento_Sans/Quattrocento_Sans.css">

	<!-- Icons -->
	<link rel="stylesheet" href="assets/fonts/MaterialDesign/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="assets/fonts/Outicons/flaticon.css">

	<!-- Styles -->
	<link rel="stylesheet" href="libs/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="libs/owl-carousel/owl.theme.css">

	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/responsive.css">

	<!--[if IE 9]>
	<link rel="stylesheet" href="assets/css/ie9.css">
	<![endif]-->

</head>
<body>
	<!-- <div id="page-preloader"><span class="spinner"></span></div> -->
	<div class="page-wraper">
		<div class="full-search-wrap">
			<div class="full-search container">
				<div class="full-search__close pull-right animate"><span class="mdi mdi-close"></span></div>
				<form class="full-search__form">
					<input type="text" id="s-full" class="full-search__input" placeholder="Search">
					<input type="submit" hidden>
					<p class="full-search__hint">Type in your search and press enter</p>
				</form>
			</div>
		</div>

		<!-- Header section start -->
		<header class="page-header header-sticky">
			<div class="container">
				<div class="top-bar">
					<div class="top-bar__widgets">
						<div class="row align-items-center">
							<div class="col-md-5 col-lg-4">
								<div class="top-bar__user-menu">
									<ul class="user-menu nav justify-content-center justify-content-md-start">
										<li class="nav-item"><a href="#"><span
												class="icon-left icon-xs flaticon-closed-envelope-email"></span>收件箱</a></li>
										<li class="nav-item"><a href="#"><span
												class="icon-left icon-xs flaticon-messenger-user-avatar"></span>个人信息</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-2 col-lg-4">
								<div class="top-bar__logo text-lg-center">
									<a href="index.html" class="logo-title logo-title_reg">HuangJN</a>
								</div>
							</div>
							<div class="col-md-5 col-lg-4">
								<div class="top-bar__social text-right">

								</div>
							</div>
						</div>
					</div>
					<div class="mob-menu">
						<div id="mob-toggle" class="animate"><i class="icon icon-lg flaticon-menu-options"></i></div>
					</div>
				</div>

				<div class="main-navigation__wrap">
					<div class="main-navigation">
						<ul class="nav justify-content-between">
							<li class="nav-item menu-item-has-children">
								<a href="index.html" class="nav-link">主页</a>
							</li>
							<li class="nav-item">
								<a href="/page/Knowledge_sharing.html" class="nav-link">知识分享</a>
							</li>
							<li class="nav-item">
								<a href="/page/software_package.html" class="nav-link">软件包</a>
							</li>
							<li class="nav-item">
								<a href="/page/software_package.html" class="nav-link">音乐盒子</a>
							</li>
							<li class="nav-item menu-item-has-children">
								<a href="post-single_sidebar.html" class="nav-link">拍摄图片</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="post-single_sidebar.html" class="nav-link">5</a>
									</li>
									<li class="nav-item">
										<a href="post-single_full.html" class="nav-link">No Sidebar</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="/page/about.html" class="nav-link">宣传</a>
							</li>
							<li class="nav-item">
								<a href="/page/contact.html" class="nav-link">关于我</a>
							</li>
							<li class="nav-item menu-item-has-children">
								<a href="shortcodes.html" class="nav-link">个人动态</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="shortcodes.html" class="nav-link">Shortcodes</a>
									</li>
									<li class="nav-item">
										<a href="404-page.html" class="nav-link">404 Page</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- Header section end -->

		<!-- Page content section start -->	
		<main class="page-content">
			<!-- Page title section start -->
			<div class="page-head post-head" style="background-image: url('assets/img/single-contain.jpg');">
				<div class="container">
					<div class="page-head__breadcrumb">
						<ol class="breadcrumb">
							<li><a href="index.html">主页</a></li>
							<li class="active">文章内容</li>
						</ol>
					</div>
					<div class="row">
						<div class="col-md-8">
							<h1 class="page-head__title page-head__title_full" id="articleTitle"></h1>
						</div>
					</div>
				</div>
			</div>
			<!-- Page title section end -->

			<!-- New single section start -->
			<div class="new-single">
				<div class="container">
					<div class="row row-extended">
						<div class="col-lg-8">
<!--							class="post"-->
							<article class="post" >

								<div class="post__img text-center"><img id="articleImg"  alt=""></div>

<!--								文章内容-->
								<div class="post__content" id="doc-content">
									<input type="hidden">
									<textarea id="articleContext" style="display: none"></textarea>
								</div>
							</article>
							<div class="new-single__footer">


<!--评论区-->
								<section class="post__comments">
									<h2 class="h4 section-title">评论区暂时不开放,下方为之后的模板</h2>
									<ol class="comment-list">
										<li class="comment-list__item">
											<div class="comment__body">
												<div class="comment__avatar">
													<img src="assets/img/comment1.jpg" alt="">
												</div>
												<div class="comment__content">
													<div class="comment__author">Jacob Cross</div>
													<div class="comment__date">Posted at 08:49am</div>
													<div class="comment__text">The preservation of human life is the ultimate value, a pillar of ethics and the foundation of all morality. This held true in most cultures and societies throughout history.</div>
												</div>

												<div class="comment__reply">
													<button type="button" class="btn btn-link animate">Reply</button>
												</div>
											</div>
											<ol class="comment-list children">
												<li class="comment-list__item">
													<div class="comment__body">
														<div class="comment__avatar">
															<img src="assets/img/comment2.jpg" alt="">
														</div>
														<div class="comment__content">
															<div class="comment__author">Darrell Hardy</div>
															<div class="comment__date">Posted at 11:42pm</div>
															<div class="comment__text">If you are an entrepreneur, you know that your success cannot depend on the opinions of others. Like the wind, opinions change.</div>
														</div>

														<div class="comment__reply">
															<button type="button" class="btn btn-link animate">Reply</button>
														</div>
													</div>
												</li>
											</ol>
										</li>
										<li class="comment-list__item">
											<div class="comment__body">
												<div class="comment__avatar">
													<img src="assets/img/comment3.jpg" alt="">
												</div>
												<div class="comment__content">
													<div class="comment__author">Gavin Edwards</div>
													<div class="comment__date">Posted at 12:51am</div>
													<div class="comment__text">Be careful what you believe because that is what you will experience. Your belief system is a mechanism which is uniquely yours. It is powered by your desire and controlled by your thoughts and actions. In other words, your success is measured by the strength of your belief.</div>
												</div>
												<div class="comment__reply">
													<button type="button" class="btn btn-link animate">Reply</button>
												</div>
											</div>
										</li>
									</ol>
									<div class="comment__respond">
										<h4 class="section-title">提交评论</h4>
										<form class="comment-form">
											<div class="form-group row form-row">
												<div class="col-sm-6 form-col">
													<input type="text" class="form-control" placeholder="姓名 *">
												</div>
												<div class="col-sm-6 form-col">
													<input type="email" class="form-control" placeholder="邮箱 *">
												</div>
											</div>
											<div class="form-group">
												<textarea rows="6" class="form-control" placeholder="评论"></textarea>
											</div>
											<div class="row">
												<div class="col-md-4">
													<input type="submit" class="btn btn-primary btn-submit animate" value="提交评论" />
												</div>
											</div>
										</form>

									</div>
								</section>
							</div>
						</div>

						<aside class="sidebar col-lg-4">
							<div class="widget-sidebar">
								<div class="widget-sidebar__title">最多点击</div>
								<ul class="widget-post-list" id="popularArticle">

								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
			<!-- News primary section end -->

		</main>
		<!-- Page content section end -->
		<!-- Footer section start -->
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 footer-widget footer__copy">
						<div class="footer__logo footer-widget">
							<a href="index.html" class="logo-title logo-title_reg animate">HuangJN</a>
						</div>
						<div class="textwidget">
							<p>欢迎访问我的网站，希望你能喜欢</p>
						</div>
					</div>

				</div>

				<div class="row page-footer__bottom">
					<div class="col-lg-10">
						<div class="copyright">&copy; 2020, HuangJN
							<!--<a href="http://www.bootstrapmb.com/">Reserved</a>--></div>
					</div>
					<div class="col-lg-2">
						<div class="footer-nav nav">
							<li class="nav-item">
								<a href="#" class="nav-item">Privacy</a>
							</li>
							<li class="nav-item">
								<a href="http://www.beian.miit.gov.cn" class="nav-item">粤ICP备19155097号</a>
							</li>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer section end -->	

		<!-- To top section start -->
		<div id="to-top" class="page-to-top animate text-center"><span class="icon icon-left flaticon-up-arrow-sign">Page top</span></div>
	</div>
	<!-- Scripts -->

	<script src="libs/jquery/jquery-2.2.3.min.js"></script>
	<script src="libs/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="libs/bootstrap-4.3.1/js/bootstrap.min.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>
	<script src="libs/isotope/imagesLoaded.min.js"></script>
	<script src="libs/isotope/isotope.pkgd.min.js"></script>
	<script src="assets/js/common.js"></script>
<!--	editormd的js-->
	<script src="assets/js/editormd.min.js"></script>
	<script src="assets/lib/marked.min.js"></script>
	<script src="assets/lib/prettify.min.js"></script>
	<script src="assets/lib/raphael.min.js"></script>
	<script src="assets/lib/underscore.min.js"></script>
	<script src="assets/lib/sequence-diagram.min.js"></script>
	<script src="assets/lib/flowchart.min.js"></script>
	<script src="assets/lib/jquery.flowchart.min.js"></script>
	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->
<script>
	function getQueryVariable(variable)
	{
		var query = window.location.search.substring(1);
		var vars = query.split("&");
		for (var i=0;i<vars.length;i++) {
			var pair = vars[i].split("=");
			if(pair[0] == variable){return pair[1];}
		}
		return(false);
	}
	$(function () {
		var articleid=getQueryVariable("articleid");
		$.ajax({
			type: "post",
			url: "/api/findArticleById.ajax",
			data:{articleId:articleid},
			success:function (data) {
				// $("#articleContext").text("aaa");
				// $("#doc-content").html("<textarea id=\"aa\" style=\"display:none;\">");
				$("#articleTitle").text(data.article.articletitle);
				$("#articleImg").attr('src',data.article.acticlephoto);
				$("#articleContext").text(data.articleContext.articleText);
				testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
					htmlDecode: "style,script,iframe",
					emoji: true,
					taskList: true,
					tex: true, // 默认不解析
					flowChart: true, // 默认不解析
					sequenceDiagram: true, // 默认不解析
					codeFold: true,
				});
				var html="";
				for (var i=0;i<data.popularArticles.length;i++)
				{
					html+="<li class=\"widget-post\">\n" +
							"\t<div class=\"widget-post__img\">\n" +
							"\t\t<a href=\"post-single_sidebar.html\"><img src=\""+data.popularArticles.acticlephoto+"" alt=\"\"></a>\n" +
							"\t</div>\n" +
							"\t<div class=\"widget-post__content\">\n" +
							"\t\t<div class=\"cat-title\"><a href=\"category-post.html\">Art &amp; Illustration</a></div>\n" +
							"\t\t<div class=\"h4 widget-post__title\"><a href=\"post-single_sidebar.html\">When The Morning Dawns</a></div>\n" +
							"\t\t<div class=\"widget-post__views\">900</div>\n" +
							"\t</div>\n" +
							"</li>";
				}
				$("#popularArticle").html(html);
			},
			error:function () {
				alert("error");
			}
		})
	})
</script>
</body>
</html>
